<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header.ejs') %>
    <title>Sign Up - Rex URL Shortener</title>
  </head>
  <body class="dark-mode">
    <%- include('partials/navbar.ejs') %>

    <main class="container auth-container">
      <div class="auth-form">
        <h2>Sign Up</h2>
        <form action="/signup" method="POST">
          <div class="form-group">
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              required
              placeholder="Choose a username"
            />
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              placeholder="Enter your email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input
              type="password"
              id="password"
              name="password"
              required
              placeholder="Create a password"
            />
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
    </main>

    <%- include('partials/footer.ejs') %>

    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>
